---
title: 'terjadi'
slug: 'part1-instagram-ui-tutorial-with-react-native-installing-react-native'
creationDate: '2020-07-02'
category: 'Tutorial'
excerpt: 'Hexo adalah framework blog sederhana yang didukung oleh Node.js. Web statis generator ini sangat cepat dan hanya membutuhkan waktu beberapa detik untuk membangun website yang lengkap.'
cover: hexo-blog.webp
youtube: 'https://www.youtube.com/embed/b1DA2AP-Psc'
tags:
  - Hexo
  - Blog
  - Tips and Trick
---


Ini adalah video
